{
  "root": true,
  "parserOptions": { "ecmaVersion": 2017 },
  "env": {
    "node": true,
    "jest": true
  },
  "extends": ["plugin:prettier/recommended"],
  "rules": {
    "quotes": ["error", "single"],
    "prettier/prettier": ["error", {"endOfLine": "auto"}],
    "semi": ["error", "always"]
  }
}
